# Sensitive files
KEY.pem
terraform.tfstate
terraform.tfstate.backup

# Temporary files
*.zip
*.out
*.json
*.txt
*.so

# Lambda layer
lambda_layer/

# Terraform provider binaries and cache
.terraform/
.terraform.lock.hcl

# Misc
ftp_server_public_ip
lambda get-function*
